*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

html,
body {
  width: 100vw;
  -webkit-font-smoothing: antialiased;
  overscroll-behavior-y: none;
  overflow: hidden;
}

#gradient-canvas {
  --gradient-color-1: #3d545e;
  --gradient-color-2: #253e4a;
  --gradient-color-3: #0d2936;
  --gradient-color-4: #0a212b;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto-Regular", sans-serif;
  font-weight: normal;
  font-size: 1.7rem;
  line-height: 1.3;
  color: #fff;
  /*background-color: rgb(13, 41, 54);*/
  background-color: #0d2936;
}
